<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>活动管理</title>
	<link rel="stylesheet" type="text/css" href="css/xypuxing.min.css">
	<link rel="stylesheet" href="css/global.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.4/sweetalert2.min.css">
</head>
<body>
	<div id="eventManager">
		<px-home-nav></px-home-nav>
		<div class="Muser-header">
			<div class="Muser-header-img">
				<img src="img/8.jpg">
			</div>
			<img :src="daohang.px_userinfo.icon" class="Muser-header-tx">
			<p class="px_user_name">{{daohang.px_userinfo.nickname}}</p>
			<p class="Muser-opration">	
				<button @click="daohang.enterIss(0)" type="button" class="btn btn-primary">发布讲座</button>
				<button @click="daohang.enterIss(1)" type="button" class="btn btn-warning">发布活动</button>
			</p>
		</div>
		<px-tab-module :tab="em_lists"></px-tab-module>
		<div class="event-box">
			<div class="box-mid">
				
				<div class="event-tip-lists" v-show="em_lists.tipIndex==0">
					<div class="user-event-info-box">
						<div class="user-event-info-img"><img :src="px_info.placard"></div>
						<div class="user-event-basic-info">
							<h2 class="event-tit">{{px_info.title}}</h2>
							<p class="event-time">
								<span class="glyphicon glyphicon-time"></span>
								{{px_info.s}} ~ {{px_info.e}}
							</p>
							<p class="event-addr">
								<span class="glyphicon glyphicon-map-marker"></span>
								{{px_info.address}}
							</p>
							<p class="event-size-limit">
								<span class="glyphicon glyphicon-list-alt"></span>
								限额:{{px_info.plimit}}人（已报名{{px_info.joincnt}}人）
							</p>
							<p class="event-info-fbr">
								<span class="glyphicon glyphicon-record"></span>
								<a href="###"><img :src="px_info.icon">{{px_info.nickname}}</a>
								<button v-if="$peo==0" type="button" class="pull-right btn btn-canel" @click="canelEvent">取消{{$class}}</button>
								<button v-if="$peo==1" type="button" class="pull-right btn btn-canel" @click="canelBM">取消报名</button>
							</p>
						</div>
					</div>
				</div>
				<div class="event-tip-lists" v-show="em_lists.tipIndex==1" v-html="this.px_info.content">
				</div>
				<div class="event-tip-lists" v-show="em_lists.tipIndex==2">
					<div class="joincnt-list">
						<div class="joincnt-box" v-for="item in joinPeo.data">
							<img :src="item.icon">
							<div class="joincnt-info">
								<h4>{{ item.nickname }}</h4>
								<p>电话：{{ item.phone }}</p>
								<p>邮箱：{{ item.email }}</p>
							</div>
						</div>
						
						<div class="a_null" v-if="joinPeo.total==0">
						啊哈?还没人参与{{$class}}?赶紧告知身边的人来注册报名吧~
					</div>
					</div>
				</div>
				<div style="clear: both"></div>
			</div>
		</div>
		<px-footer></px-footer>
	</div>
		<script type="text/javascript" src="js/global_setting.js"></script>
	<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/browseType.js"></script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script src="https://cdn.bootcss.com/axios/0.16.2/axios.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.4/sweetalert2.min.js"></script>
	<script type="text/javascript" src="js/global.js"></script>
	<script type="text/javascript" src="js/emzzx.js"></script>
</body>
</html>